@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #131313;
  filter: blur(15px);
  scale: 1.1;
  z-index: -1;
}

.search-box{
  display: flex;
  align-items: center;
  color: white;
  width: 500px;
  height: 70px;
  background-color: #ffffff2c;
  gap: 10px;
  padding: 0px 10px;
  border-radius: 15px;
  transition: 1s;
}

.search-box i{
  font-size: 2em;
  cursor: pointer;
}

#search{
  appearance: none;
  border: 0;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  color: white;
}

#search::placeholder{
  color: white;
}

#search::-webkit-search-cancel-button{
  display: none;
}

.player {
  display: none;
  position: relative;
  top: 50px;
  color: #292828;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 600px;
  background-color: #a6a4a474;
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 50px;
}

.player .player-image {
  width: 75%;
  height: 60%;
  transform: translateY(-75px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 10px;
}

.player-info {
  transform: translateY(-50px);
}

.player-info h1 {
  text-align: center;
  font-weight: 300;
}

.player-progress {
  width: 75%;
  height: 10px;
  background-color: #5b5959;
  transform: translateY(-25px);
  border-radius: 5px;
  cursor: pointer;
}

.player-progress .progress {
  height: 100%;
  background-color: #ebebeb;
  border-radius: 5px;
}

.player-controls {
  width: 75%;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 2em;
}
.player-controls i {
  cursor: pointer;
  color: #292828c2;
  background-color: #25252517;
  border-radius: 10px;
  padding: 15px;
}

.footer {
  position: absolute;
  bottom: 15px;
}

.footer h3 {
  font-weight: 200;
  letter-spacing: 3px;
}